-- MoviStore Database Schema
-- Universidad Autónoma de Chiapas - Facultad de Negocios Campus IV

-- 0. Crear base de datos (ejecutar en psql o pgAdmin)
CREATE DATABASE movistore_db;

-- 1. Conectar a movistore_db y crear tablas

-- users
CREATE TABLE users ( 
    id SERIAL PRIMARY KEY, 
    name VARCHAR(100) NOT NULL, 
    email VARCHAR(150) UNIQUE NOT NULL, 
    password_hash VARCHAR(200) NOT NULL, 
    role VARCHAR(20) NOT NULL DEFAULT 'customer', -- 'admin' | 'customer' 
    created_at TIMESTAMP DEFAULT NOW() 
);

-- categories
CREATE TABLE categories ( 
    id SERIAL PRIMARY KEY, 
    name VARCHAR(100) NOT NULL, 
    description TEXT 
);

-- stores (sucursales)
CREATE TABLE stores ( 
    id SERIAL PRIMARY KEY, 
    name VARCHAR(100) NOT NULL, 
    address TEXT 
);

-- products
CREATE TABLE products ( 
    id SERIAL PRIMARY KEY, 
    name VARCHAR(200) NOT NULL, 
    description TEXT, 
    price NUMERIC(10,2) NOT NULL, 
    sku VARCHAR(80) UNIQUE, 
    category_id INTEGER REFERENCES categories(id) ON DELETE SET NULL, 
    created_at TIMESTAMP DEFAULT NOW(), 
    updated_at TIMESTAMP DEFAULT NOW() 
);

-- product_images (ruta al archivo)
CREATE TABLE product_images ( 
    id SERIAL PRIMARY KEY, 
    product_id INTEGER REFERENCES products(id) ON DELETE CASCADE, 
    filename VARCHAR(300) NOT NULL, 
    is_thumbnail BOOLEAN DEFAULT FALSE 
);

-- stock por sucursal
CREATE TABLE product_stock ( 
    id SERIAL PRIMARY KEY, 
    product_id INTEGER REFERENCES products(id) ON DELETE CASCADE, 
    store_id INTEGER REFERENCES stores(id) ON DELETE CASCADE, 
    quantity INTEGER NOT NULL DEFAULT 0, 
    updated_at TIMESTAMP DEFAULT NOW(), 
    UNIQUE(product_id, store_id)
);

-- orders
CREATE TABLE orders ( 
    id SERIAL PRIMARY KEY, 
    user_id INTEGER REFERENCES users(id), 
    store_id INTEGER REFERENCES stores(id), -- sucursal donde se recoge o desde dónde se envía 
    total NUMERIC(12,2) NOT NULL DEFAULT 0, 
    status VARCHAR(30) NOT NULL DEFAULT 'pending', -- pending | paid | shipped | cancelled 
    created_at TIMESTAMP DEFAULT NOW() 
);

-- order_items
CREATE TABLE order_items ( 
    id SERIAL PRIMARY KEY, 
    order_id INTEGER REFERENCES orders(id) ON DELETE CASCADE, 
    product_id INTEGER REFERENCES products(id), 
    quantity INTEGER NOT NULL, 
    unit_price NUMERIC(10,2) NOT NULL 
);

-- stock_movements (auditoría)
CREATE TABLE stock_movements ( 
    id SERIAL PRIMARY KEY, 
    product_id INTEGER REFERENCES products(id), 
    store_id INTEGER REFERENCES stores(id), 
    change INTEGER NOT NULL, 
    reason TEXT, 
    created_at TIMESTAMP DEFAULT NOW() 
);

-- Indexes (mejoras de rendimiento)
CREATE INDEX idx_products_category ON products(category_id); 
CREATE INDEX idx_stock_prod_store ON product_stock(product_id, store_id);