-- MoviStore Seed Data
-- Universidad Autónoma de Chiapas - Facultad de Negocios Campus IV

-- Función transaccional para crear orden y decrementar stock
-- Función: create_order(user_id, store_id, json_items)
-- json_items = [ { "product_id": 1, "quantity": 2 }, ... ]
CREATE OR REPLACE FUNCTION create_order(p_user INT, p_store INT, p_items JSON)
RETURNS INTEGER AS $$
DECLARE
    v_order_id INTEGER;
    v_item JSON;
    v_pid INTEGER;
    v_qty INTEGER;
    v_price NUMERIC(10,2);
    v_stock INTEGER;
BEGIN
    -- Crear orden
    INSERT INTO orders(user_id, store_id, status, created_at) VALUES (p_user, p_store, 'pending', NOW()) RETURNING id INTO v_order_id;
    
    -- Loop items
    FOR v_item IN SELECT * FROM json_array_elements(p_items)
    LOOP
        v_pid := (v_item->>'product_id')::INT;
        v_qty := (v_item->>'quantity')::INT;
        
        SELECT price INTO v_price FROM products WHERE id = v_pid;
        
        -- verificar stock
        SELECT quantity INTO v_stock FROM product_stock WHERE product_id = v_pid AND store_id = p_store FOR UPDATE;
        IF v_stock IS NULL OR v_stock < v_qty THEN
            RAISE EXCEPTION 'No hay stock suficiente para el producto %', v_pid;
        END IF;
        
        -- insertar order_item
        INSERT INTO order_items(order_id, product_id, quantity, unit_price) VALUES (v_order_id, v_pid, v_qty, v_price);
        
        -- decrementar stock
        UPDATE product_stock SET quantity = quantity - v_qty, updated_at = NOW() WHERE product_id = v_pid AND store_id = p_store;
        
        -- registrar movimiento
        INSERT INTO stock_movements(product_id, store_id, change, reason) VALUES (v_pid, p_store, -v_qty, 'Venta - Order ' || v_order_id);
    END LOOP;
    
    -- actualizar total
    UPDATE orders SET total = (SELECT COALESCE(SUM(quantity*unit_price),0) FROM order_items WHERE order_id = v_order_id) WHERE id = v_order_id;
    
    RETURN v_order_id;
END;
$$ LANGUAGE plpgsql;

-- Datos de ejemplo
INSERT INTO stores (name, address) VALUES 
('MoviStore Centro', 'Av. Principal 123, Tapachula'), 
('MoviStore Norte', 'Calle 55 No. 10');

INSERT INTO categories (name) VALUES 
('Celulares'), 
('Accesorios'), 
('Smartwatches');

-- Productos de ejemplo
INSERT INTO products (name, description, price, sku, category_id) 
VALUES 
('XPhone 12', 'Smartphone XPhone 12 - 64GB', 8999.00, 'XP12-64', 1), 
('Cargador Rápido 30W', 'Cargador USB-C 30W', 299.00, 'CH30', 2);

-- Stock por sucursal
INSERT INTO product_stock (product_id, store_id, quantity) 
SELECT p.id, s.id, CASE WHEN p.name LIKE '%XPhone%' THEN 10 ELSE 50 END 
FROM products p CROSS JOIN stores s;